  .Back {
    font-size:20px;
    margin-top: 3%;
    margin-left: 4%;
    
  }
.formInput{
    height: 20px;
    margin-left: 20 %;
}
.form-group{
    padding: 8px;
}
.app{
    display:flex;
    align-items:center;
    justify-content:center;
}


.formInit {
    border-radius: 20px;
    padding: 4%;
  }
  input[type=text], select {    
    /* margin-left: 1.5%; */
    border: 2px solid #ccc;
    border-radius: 100px;
    box-sizing: border-box;
  }


  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  label {
    font-size: xx-large;
    text-align: justify;
  }
.centre {
  position: relative; 
  width: 50%;
  margin-top:18%;
  margin-left: 20%;
  margin-right: 20%;
}
.arrayResult{
  width:auto;
  padding-right: 20%;
  position: relative; 
  margin: auto;
  margin-top:18%;
  align-content: center;

}
.coll{
  border: 2px solid black;
  font-size: x-large;
  align-items: center;
  padding:auto;
  border-style: double;
  padding: 1%;
}
th{
  padding:1%
}

.searchInputs {
  padding-top: 20%   ;
  display: flex;
}


.searchIcon {
  height: 100px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none !important;
  outline: none !important;
  color: black !important;
}

a:hover {
  background-color: lightgrey !important;
  outline: none !important;
}

#clearBtn {
  cursor: pointer;
}


.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.centreReset{
  position: relative; 
  margin-left:48%;
  margin-right:55%;
  width: 10%;
  margin-top:5%;
  height: 100%;

}.menuCentre{
  position: relative !important; 
  margin-left:auto !important;
  margin-right:auto !important;
  width: 18% !important;
  margin-top:4% !important;
  height: 100% !important;
  font-size: xx-large !important;

}
.menuButtonCentre{
  font-size:20cm;
  position: relative; 
  margin-left:15%;
  margin-top:5%;
  height: 100%;
  background-color: red;

}
.arrayActive{
  width:80%;
  padding-right: 20%;
  position: relative; 
  margin: auto;
  margin-top:6%;
  align-content: center;

}
.blockButton{

padding-left:8%;
}
.navigationStatus{
  font-size:20cm;
  position: relative; 
  margin-left:12%;
  width: auto;
  margin-top:3%;
  height: 100%;
  background-color: red;
}
.arrayReady{
  width:30%;
  padding-right: 35%;
  margin: auto;
}
.zones{
  width:50%;
  padding-right: 20%;
  position: relative; 
  margin: auto;
  margin-top:5%;
  align-content: center;

}
.resetButton{
    align-content: center;
    margin-top: 4%;
    margin-left: 48%;
    width: 30%;
    font-size: x-large;
}

/* centre add */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0 20px;
}

form {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  text-align: center;
}
.wlc{
  font-size :80px;
  color :white;
  margin-bottom :0em !important;
  margin-top: 00.2em ;
}



p {
  color: #bf1650;
  text-align: center;
}




.IceCreamType {
  color: black;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  color: black;
  font-weight: 200;
}

/* button,
input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
} */



input[type="submit"]:hover {
  background: #blue;
}



input:disabled {
  opacity: 0.4;
}





.App {
  margin-top: 9% !important;
  max-width: 80%;
  margin: 0 auto;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.counter {
  font-weight: 400;
  background: white;
  color: black;
  padding: 10px 15px;
  border-radius: 4px;
  position: fixed;
  top: 20px;
  right: 20px;
}

/* . . */
/*  */
.jCsHml{
      font-size:x-large;
      margin-bottom: 2%; margin-top: 2%;


}
.gNmwKQ {
font-family: 'Roboto';
    font-size:1.2rem  !important;
  margin-bottom: 1%; margin-top: 2%;}
.wyrbw{
font-family: 'Roboto';
    font-size:1.2rem  !important;
  margin-bottom: 1%; margin-top: 1%;
}
.dMqrBK{
    overflow-y: hidden !important ;
}




.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
} */


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.navbar {
  background-color: #1f5156;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item .active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}
